#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.home-section{
  margin-top: 30px;
}
.img-fluid{
  margin-top: 30px;
  width: 80%;
  height: 500px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* login page css  */

.App
{
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

.App-header {
  
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 25%;
}

h1 {
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-group {
  margin: 15px 0;
  
}

.form-input {
 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  font-size: 16px;
  margin: 0px 5px;
}

.form-button {
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #555;
}

/* about page css  */
.about-section {
  padding: 0px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.title {
  font-size: 2.5em;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  font-size: 1.8em;
  color: #555555;
  margin-top: 30px;
  margin-bottom: 15px;
}

.text {
  font-size: 1.2em;
  color: #666666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.list-item {
  font-size: 1.2em;
  color: #666666;
  margin-bottom: 10px;
}

.list-item-strong {
  color: #333333;
}
